<div id="<%= dom_id publicacione %>">
  <p>
    <strong>Titulo:</strong>
    <%= publicacione.titulo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= publicacione.descripcion %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= publicacione.label.name %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= link_to publicacione.usuario_id , user_publicacione_path %>
    <%= link_to publication.usuario_id.email, '/user/:usuario_id/publicacione' %>
  </p>

</div>
