<p style="color: green"><%= notice %></p>

<%= render @publicacione %>

<div>
  <%= link_to "editar publicaciones", edit_publicacione_path(@publicacione) %> |
  <%= link_to "volver a publicaciones", publicaciones_path %>

  <%= button_to "eliminar publicaciones", @publicacione, method: :delete %>
</div>
